/* 清除背景色，添加间距 */
#smzdm_panel{
    background: none;
    margin-left: 68px;
    margin-bottom: 10px;
}
#smzdm_panel > ul{
    background: none;
}
/* 添加背景色 */
#smzdm_panel > ul > li{
    background-color: #fff;
}
#smzdm_panel > ul > li#smzdm_panel_logo{
    background-color: #fff;
}

#smzdm_panel #panel_comment > div > .form-control{
	border: 1px solid #ccc;
}